
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Elisha Rai website </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
 <header>
   <nav>
   <div class="navbar">
     <div class="logo">
      <img src="{% static 'static/image/logos.png' %}">
     </div>
     <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/projects">Projects</a></li>
         <li><a href="#">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div class="search-box">
        <input type="text" placeholder="Search here...">
        <a href="#"><i class="fas fa-search"></i></a>
      </div>
   </div>
   </nav>
   <div class="content">
     <div class="text-content">
       <div class="text">Hello, It's Me </div>
       <div class="name">Elisha Rai</div>
       <div class="job">
         <div class="job">
           <span>And I'm a</span>
            <div class="typing-text">
              <span class="one">Software Developer</span>
            
            </div>
          </div>
       </div>
       <div class="buttons">
   <button>About Me</button>
   <button>Follow Me</button>
 </div>
     </div>
     <div class="girl">
       
      <img src="{% static 'static/image/me.png' %}">
      
     </div>
   </div>
   <div class="media-icons">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
    <a href="#"><i class="fab fa-pinterest"></i></a>
  </div>
 </header>
</body>
<body>
  <div class="section">
    <section id="about" class="about">
      <div class="container"><br>
        <h2>About Me</h2>
        <p>
          I am an enthusiastic and passionate software Developer<br>
          with strong expertise in web and software development.<br>
          Skilled in building dynamic applications, ranging from chat<br>
          systems to prediction systems using modern technologies.
        </p><br><br>
      </div>
    </section>

  </body>
  </html>