{% load static %}
<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <meta charset="UTF-8">
    <title> Elisha Rai website </title>
    <link rel="stylesheet" href="{% static 'projectstyle.css' %}">  
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <h2>Projects</h2>
        <div class="all">
        <div class="first">
        
         <h3>Pac Man Game:</h1>
          <p><b></p>
          </div>
        <div class="second">
            <h3> Sales Management System</h3>
        </div>
    
    </div>
    </html>
