{% load static %}
<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <meta charset="UTF-8">
    <title> Elisha Rai website </title>
        
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <h2>Resume</h2>
        <div class=all>
        <div class=personal>
        
         <h3>PERSONAL DETAILS:</h1>
          <p><b>Name: Elisha Rai</b><br>
             Gmail: elishar651@gmail.com<br>
             Address: Kapan, Kathmandu<br>
             Github:ElishaRai651<br>
            Linkedin:Elishar651</p>
     
        </table>
      </div>
      <div class=education>
         <h3> EDUCATIONAL DETAILS:</h3>
           <p><b>Purbanchal University<br>
            Bachelor's in information technology</b><br>
           (since september 2020 - present)</p>
      </div>
      <div class=skill>
        <h3> SKILLS:</h3>
        <p> <b>Programming skills</b>: Python, Java,JavaScript, PHP, SQL<br>
        Other skills: Communication</p>
      </div>


    </div>
    </html>
